*.aux
*.bbl
*.bcf
*.fbd_latexmlc
*.fls
*.log
*.xml
*.gz
*.blg
*.fbd_latexmk
*.toc
*.pdf
MII 2/Trabajo Individual - RRHH y Organizacion del Trabajo/main.fdb_latexmk
*.fdb_latexmk
*.synctex(busy)
*.fdb_latexmk
